body {
  background-color: #bce3df;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  flex-direction: column;
  max-width: 800px;
  width: 90%;
}
.result-container {
  display: flex;
  background-color: #00474b;
  border-radius: 0.8rem;
  max-width: 350px;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 2rem 1.5rem;
  width: 100%;
}
.bill-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.75rem 1rem;
  font-size: 1rem 2rem;
  border: #00474b;
  box-shadow: #00474b;
  border-radius: 1rem;
  margin-left: 2rem;
}
.bill-input {
  border: none;
  background-color: #e5efef;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}
.bill-label {
  text-align: left;
  display: flex;
  color: #00474b;
}
.tip-btn {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  gap: 0.75rem;
}
.btn {
  width: 45%;
  height: 3rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #00474b;
  color: white;
  cursor: pointer;
}
.input-tip {
  width: 43.2%;
  height: 2.8rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #e5efef;
  margin: 0;
  text-align: center;
}
.tip-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.75rem 1rem;
  font-size: 1rem 2rem;
  border: #00474b;
  box-shadow: #00474b;
  border-radius: 1rem;
  margin-left: 0rem;
  margin: 0;
}
.tip-btn-label {
  text-align: left;
  display: flex;
  color: #00474b;
  margin-left: 1rem;
}
.people-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.75rem 1rem;
  font-size: 1rem 2rem;
  box-shadow: #00474b;
  margin-left: 2rem;
  color: #00474b;
}
.number-of-people-input {
  background-color: #e5efef;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  padding-left: 2rem;
  border: none;
}
.input-icon {
  position: absolute;
  left: 6%;
  top: 56%;
  margin: 0;
  display: block;
}
.result-container {
  color: white;
  margin-top: 0.5rem;
}
.tip-amount-text {
  font-size: larger;
  margin: 0;
  width: 10rem;
}
.person-text {
  color: #bcbfbf;
  margin: 0;
}
.amount-text {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.amount-group {
  display: flex;
  margin: 0;
  gap: 7rem;
}
.tip-per-person {
  font-size: xx-large;
  margin: 0;
}
.total-group {
  display: flex;
  gap: 14rem;
  margin: 0;
}
.total-text-group {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.total-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  font-size: larger;
}
.total-per-person {
  font-size: xx-large;
  margin: 0;
}
.button {
  border-radius: 0.4rem;
  border: none;
  background-color: aquamarine;
  width: 80%;
  height: 4rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 2rem;
  font-size: x-large;
  color: #00474b;
  cursor: pointer;
}
.btn:hover {
  background-color: #26c2ad;
  transition: 0.2s;
}
.button:hover {
  transition: 0.2s;
  background-color: #22979f;
  color: white;
}
@media (min-width: 900px) {
  .container {
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    max-width: 1000px;
  }

  .left-side {
    width: 50%;
  }

  .result-container {
    width: 50%;
    margin-top: 0;
    height: 100%;
    justify-content: space-between;
  }
}
.bill-group,
.people-group {
  margin-left: 0;
}

.tip-btn {
  margin-left: 0;
}

.button {
  margin-left: 0;
  width: 100%;
}
.people-group {
  position: relative;
}
